.DS_Store

# Cache
cowl/cache/*
!cowl/cache/index.html

# Commands, user styles, views
cowl/app/front/*
!cowl/app/front/shell.html.php
!cowl/app/front/shell.json.php
!cowl/app/front/shell.ajax.php

# Models and objects
cowl/app/back/*
!cowl/app/back/index.html

# CSS files, except universal site.css
cowl/app/static/css/*
!cowl/app/static/css/site.css

# Gfx
cowl/app/static/gfx/*
!cowl/app/static/gfx/index.html

# Other files
cowl/app/static/files/*
!cowl/app/static/files/index.html