RewriteEngine on

RewriteRule ^css/gfx/(.*) app/static/gfx/$1 [L]
RewriteRule ^files/(.*) app/static/files/ [L]

RewriteRule ^css/(.*) cowl/cache/static/css/$1 [L]
RewriteRule ^js/(.*) app/static/js/$1 [L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule ^(.*)$ index.php/$1