#php_value xdebug.profiler_output_dir /tmp
#php_value xdebug.profiler_output_name cachegrind.out.%s
#php_value xdebug.profiler_enable 1

RewriteEngine on

RewriteRule ^css/gfx/(.*) cowl/app/static/gfx/$1 [L]
RewriteRule ^files/(.*) cowl/app/static/files/ [L]

RewriteRule ^css/(.*) cowl/cache/static/css/$1 [L]
RewriteRule ^js/(.*) cowl/cache/static/js/$1 [L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule ^(.*)$ index.php/$1