@load(static/css/style.misc.css);

body {
	font: 14pt/1.2 Arial, Helvetica, sans-serif;
	background: url(gfx/snow.jpg);
}

a = $underlined;

@include(static/css/style.random.css);

#other .stuff {
	display: none;
}